
spring:
  docker:
   compose:
     enabled: false

web-scraping:
  page:
    scrapeme-shop:
        url: https://scrapeme.live/shop/
        title: "Products – ScrapeMe"
    technical-review:
        url: https://rta.government.bg/services/check-inspection
        title: "Проверка за валиден периодичен технически преглед || Periodic motor vehicle inspection safety check"

web-driver:
  pool:
    min-idle: 3
    max-idle: 6
    max-total: 20
  browser: FIREFOX

resilience4j:
   retry:
     instances:
       get-technical-review:
         max-attempts: 5
         wait-duration: 1s
         retry-exceptions:
           - java.lang.IllegalStateException

logging:
  level:
    org:
      github:
        ehayik:
            kata:
              webscraping:
                infrastructure: DEBUG
