
spring:
  profiles:
    default: container

web-scrapping:
  scrapeme-shop:
      url: https://scrapeme.live/shop/

web-driver:
  pool:
    min-idle: 3
    max-idle: 6
    max-total: 20
  remote-enabled: false
  remote-address: http://localhost:4444

logging:
  level:
    org:
      github:
        ehayik:
            kata:
              webscrapping:
                infrastructure: DEBUG
